.profile-btn {
  position: fixed;
  top: 1.2rem;
  right: 1.5rem;
  z-index: 100;

  color: white;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s;
}

.profile-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
